---
import "../../styles/globals.css"
---

<section id="container" class="w-full h-auto bg-black px-5 pt-30 pb-10 flex justify-between">
		<h2 class="text-white">Shall we talk ?</h2>
	    <div class="flex flex-col-reverse items-end">
			<span class="text-white flex align-bottom">
			Linkedin
			</span>	
			<span class="text-white">
			Email
			</span>	
		</div>
	
</section>



<style>
	h2 {
		font-family: Inter;
		font-weight: 500;
		font-size: clamp(3rem, 6rem, 7rem);
		line-height: 1;
		letter-spacing: -0.05em;
		padding-bottom: 0;
		margin-bottom: 0;
	}

</style>
