---
import "../../styles/globals.css"
---

<section id="container" class="w-full h-auto md:h-137 bg-black p-5 flex">
	<div class="flex flex-col w-full h-fit self-end relative xl:w-5/12">
		<h1 class=" text-white pb-5">Full Stack Developer 
		UX/UI Designer</h1>
		<span class="text-white">
		Based in Spain	
	</span>	
	</div>
	
</section>



<style>
	h1 {
		font-family: Inter;
		font-weight: 500;
		font-size: clamp(3rem, 4rem, 6rem);
		line-height: 1;
		letter-spacing: -0.05em;
	}

</style>
