---
import "../../styles/globals.css"
---

<nav class="w-full h-24 md:h-18 flex items-center justify-between p-5 bg-black text-white">
    <span class="font-bold">MANGO</span>
    <span class="">-</span>
</nav>

<style>
    span{
        font-family: Inter;
        font-weight: 700;
        font-size: 1.2rem;
    }

</style>