---
import "../styles/globals.css";
---

<section id="container" class="w-full h-auto bg-black px-5 py-15 flex">
	<div class="flex flex-col justify-end>">
		<h2 class=" text-[#FCEC00] pb-5">About
        <p class="text-white">me</p></h2>

	</div>
	
</section>



<style>
	h2 {
		font-family: Inter;
		font-weight: 500;
		font-size: 3rem;
		line-height: 1;
		letter-spacing: -0.05em;
	}

</style>
