---
import "../styles/globals.css";
---

<section id="container" class="w-full h-auto bg-black px-5 py-15 flex">
	<div class="flex flex-col justify-end>">
		<h2 class=" text-white pb-5">Design & Development
        <p class="text-[#FCEC00]">to takle</p> real world problems</h2>
	    <p class="text-white">
		Contenido
	    </p>	
	</div>
	
</section>



<style>
	h2 {
		font-family: Inter;
		font-weight: 500;
		font-size: 3rem;
		line-height: 1;
		letter-spacing: -0.05em;
	}

</style>
