---
import "../styles/globals.css";
---

<section id="container" class="w-full h-auto bg-black p-5 flex">
	<div class="flex flex-col justify-end>">
		<h1 class=" text-white pb-5">Full Stack Developer 
		UX/UI Designer</h1>
	<span class="text-white">
		Based in Spain	
	</span>	
	</div>
	
</section>



<style>
	h1 {
		font-family: Inter;
		font-weight: 500;
		font-size: 4rem;
		line-height: 1;
		letter-spacing: -0.05em;
	}

</style>
