

<div class="about-card">
  <div class="card-content border-[0.5px] border-amber-200 rounded-2xl w-auto h-auto mt-5">
    <h3 class="card-title flex text-white pb-5 px-5">Skill-1</h3>
    <p class="card-description text-white pb-5 px-5">Skill-1-description</p>
  </div>
