---
interface aboutBoxProps {
    basedIn: string;
    interests: string[];
    hardSkills: string[];
    softSkills: string [];
}

const { basedIn, interests, hardSkills, softSkills } = Astro.props as aboutBoxProps
---

<div class="about-card">
  <div class="card-content border-[0.5px] border-amber-200 rounded-2xl w-auto h-auto mt-5">
    <h3 class="card-title flex text-white pb-5 px-5">{basedIn}</h3>
  </div>
