---
import Tags from "./tags.astro";

const {
  title = "Título de la card",
  text = "Texto de ejemplo",
} = Astro.props;
---

<div class="h-auto flex-1 md:flex-1 flex-wrap">
  <div class="card-content rounded-2xl w-auto h-auto mt-5 bg-gray-950">
    <div class="flex w-full h-30 bg-amber-400 rounded-t-2xl"></div>
    <div class="info-tags w-full flex text-white p-5 font-bold text-[0.8rem]">
      <span>Fecha</span>
      <span>-</span>
      <span>Cliente</span>
      <span>-</span>
      <span>Otros</span>
    </div>
    <h3 class="card-title flex text-[1.3rem] text-white pb-5 px-5">{title}</h3>
    <p class="card-description text-[0.8rem] text-white pb-5 px-5">{text}</p>
    <div class="badge w-fit px-5 pb-5 flex gap-5">
      <Tags/>
      <Tags/>
      <Tags/>
    </div>
  </div>


<style>
  .card{
    font-family: Inter;
    font-weight: 200;
  }
  .card-title{
    font-style: italic;
  }
</style>

  
