---
interface tagsProps {
  tags: string;
}
const { tags } = Astro.props as tagsProps;
---




<div class="badge-1 flex w-fit h-auto justify-center align-middle border-[0.5px] border-white text-white rounded-md px-3 py-2 text-[0.6rem]">{tags}</div>